language: objective-c
xcode_project: GitLabeApp.xcodeproj # path to your xcodeproj folder
xcode_scheme: GitLabeAppTests
osx_image: xcode9.2

script:
- fastlane tests
    #- xcodebuild clean test -project GitLabeApp.xcodeproj -scheme GitLabeAppTests -destination "platform=iOS Simulator,name=iPhone 6s,OS=11.2" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet
